{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block body%}
<div class="container">
    <h1>Добавление данных</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control"><br>
        <textarea name="intro" id="intro" class="form-control"></textarea><br>
        <textarea name="intro" id="text" class="form-control"></textarea><br>
        <input type="submit" class="btn btn-success" value="Отправить"><br>
    </form>
</div>
{% endblock %}