<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Login page</title>

    <style>
      form {
        margin: 0 auto;
        width:250px;
      }
    </style>
  </head>
  <body>

  <form action="/booking"  method="GET">
    <h5></h5>
    <label for="login">Логин:</label><br>
    <input type="text" id="login" name="login" value="login"><br>
    <label for="password">Пароль:</label><br>
    <input type="password" id="password" name="password" ><br><br>
    <input type="submit" value="Войти">
  </form>
  </body>
</html>